<div class='container'>
  <div class="row">
    <h3 class="large-6 columns large-centered">Mailbox</h3>
  </div>
  <div class="row">
    <div class='medium-4 columns'>
      <h3>Friends</h3>
      <% current_user.friends.each do |user| %>
        <% if user.id != current_user.id %>
          <%= button_to user.first_name, conversations_path(sender_id: current_user.id, recipient_id: user.id), class: 'button', method: :post %>
        <% end %>
      <% end %>
    </div>
    <div class='medium-8 columns'>
        <% @conversations.each do |conversation| %>
          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
              <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
              <% recipient = User.find(conversation.sender_id) %>
            <% end %>
          <ul>
            <li><%= link_to recipient.first_name,   conversation_messages_path(conversation)%></li>
          </ul>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

