<div class='container'>
  <div class="row">
    <div class='medium-2 columns'>
      <h3>New</h3>
      <% current_user.friends.each do |user| %>
        <% if user.id != current_user.id %>
          <%= button_to user.first_name, conversations_path(sender_id: current_user.id, recipient_id: user.id), class: 'button', method: :post %>
        <% end %>
      <% end %>
    </div>
    <div class='medium-10 columns'>
    <h3>Messages</h3>
        <% @conversations.each do |conversation| %>
          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
              <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
              <% recipient = User.find(conversation.sender_id) %>
            <% end %>
          <% last_msg = conversation.messages.count - 1 %>
          <h4><%= link_to recipient.first_name, conversation_messages_path(conversation)%></h4>
            <%= conversation.messages[last_msg].body %>
            <br>
            <%= conversation.messages[last_msg].message_time %>
          <hr>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

