<!-- <div>
  <a href="skype:echo123?call">Call the Skype Echo / Sound Test Service</a>
</div> -->

<script charset="utf-8">
  var apiKey = '45613842';
  var sessionId = '<%= raw @session_id %>';
  var token = '<%= raw @token %>';

  var sessionId = '1_MX40NTYxMzg0Mn5-MTQ2NzMxNjI5NTM3Nn54ZWhZV0JLdyt2Y0VTQzdDdm1CaFo1cEh-UH4';
  var token = 'T1==cGFydG5lcl9pZD00NTYxMzg0MiZzaWc9MTA5ODhhNzM2MjRhZjAyOWQxODhmYWQ5YmVhNzM5N2E2YTI4MGVmMDpzZXNzaW9uX2lkPTFfTVg0ME5UWXhNemcwTW41LU1UUTJOek14TmpJNU5UTTNObjU0WldoWlYwSkxkeXQyWTBWVFF6ZERkbTFDYUZvMWNFaC1VSDQmY3JlYXRlX3RpbWU9MTQ2NzMxNjM2NCZub25jZT0wLjI1OTI2Mzg1OTM2MzI3Mjgmcm9sZT1wdWJsaXNoZXImZXhwaXJlX3RpbWU9MTQ2NzkyMTE2Mw==';

  initializeSession(sessionId, token, apiKey);
</script>