
<div class="row">
  <div class="large-12 columns">
    <h1 align="center">Welcome to Friends Around the World</h1>
    <h4 align="center">Discover the world in your free time</h4>
  </div>
</div>

<div class="row">

    <div>
      <div class="callout primary">
        
        <p>We are a cultural and language site that helps people connect and make new friends around the world who share their language and cultural interests.</p>

        <h5>How it works:</h5>

          <p class="text-justify">Sign-up to create a profile. Then, you can get started finding friends who either speak a language you want to learn or live in a part of the world that you are interested in.  You can either find them by interests that match yours or that you want to learn about. Once you have a list of some potential friends who match your criteria, you can contact them by either sending friend request. Once they accept, you can start talking, either by video or private message.</p>
          <p class="text-justify">It’s free and secure to sign up. Get started finding new friends today by clicking the link to start your profile.</p>
      
        
      </div>
      
        <div class="button-group">
          <li><%= button_to "Sign in", sign_in_path, method: :get, class: "button" %></li>
          <li><%= button_to "Sign up", new_user_path, method: :get, class: "button" %></li>
        </div>

        </div>
      
</div>
  

      <hr />
      
          
   
