/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */





.mySlides {
  display: none;
}

.orbit-slide.is-active {
  display: block;
}

 a, a:visited {
  color: #05ABFE;
 }
.top-bar {
  background: #1C1C1C;
}
.top-bar-left {
  background: #1C1C1C;
  margin: 5px;
}
.top-bar-right {
  background: #1C1C1C;
  margin: 5px;
}
.menu {
    background: #1C1C1C;
}
.menu-text {
  font-size: 26px;
  color: #05ABFE;
  background: #1C1C1C;
  padding: 10px;
}
.home-text {
  padding: 25px;
  font-size: 20px;
    color: white;
    line-height: 26px;
  background-color: black;
}
.button-group {
  padding: 0px 25px 25px 25px;
}

#users-header {
  text-align: center;
}
.media-object {
  box-shadow: 10px 5px 5px black;
}

.indexUserImg {
  height: 250px;
  width: 250px;
  border: 2px solid gray;
  border-radius: 6px;
  margin: 10px;
}

#user-index-closeout {
  background-color: #2199e8;
}

.profilePic {
	width: 68%;
	height: 300px;
	border: 1px solid gray;
  	border-radius: 50%;
  	margin: 10px;
}

.attributes {
	font-size: 20px;
}

.icons {
	font-size: 30px;
}

.generalInfo {
	border: 2px solid gray;
	padding: 10px;
	box-shadow: 10px 10px 5px #888888;
}

.line {
	width: 90%;
}

.checkbox {
	padding-left: 110px;
}

.card {
	border: 2px solid gray;
	box-shadow: 10px 10px 5px #888888;
}

.formCard {
	border: 2px solid gray;
	box-shadow: 10px 10px 5px #888888;
	margin-top: 20px;
	margin-bottom: 50px;
}

.profileTitle {
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 15px;
}

.titles {
	text-align: center;
	margin-bottom: 40px;
}

.descriptions {
	padding-left: 60px;
	padding-right: 120px;	
	font-size: 15px;
}
 .edit {
 	margin-top: -30px;
 	text-align: center;
 }

h2 {
	width: 92%;
}

 h2:after {
    content:' ';
    display:block;
    border: 1px solid black;
}

.interests {
	background-color: #e74c3c;
}

.showUserImg {
	height: 160px;
  	width: 100%;
  	border: 1px solid gray;
  	border-radius: 6px;
  	margin: 10px;
}

#showFriends {
	margin-top: 50px;
	padding-bottom: 40px;
}

#showFriendsDiv {
	margin-left: 20px;
	margin-right: 20px;
}

.form {
	padding-left: 60px;
	padding-right: 60px;
}

.formTitle {
	font-weight: bold;
}

p {
	font-weight: bold;
	font-size: 14px;
	margin-left: 70px;
	padding-top: 40px;
}

.params {
	padding-left: 50px;
}

.radiosMatch {
	margin-left: 100px;
}

.matches {
	margin: 20px;
	padding: 20px;
}
.home-center {
  margin: auto;
  width: 100%;
  padding: 10px;
  justify-content: center;
}

.about-image {
  
}



