/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 a, a:visited {
  color: #05ABFE;
 }
.top-bar {
  background: #1C1C1C;
}
.top-bar-left {
  background: #1C1C1C;
  margin: 5px;
}
.top-bar-right {
  background: #1C1C1C;
  margin: 5px;
}
.menu {
    background: #1C1C1C;
}
.menu-text {
  font-size: 26px;
    color: #05ABFE;
  background: #1C1C1C;
}
