<nav class="navbar navbar-color" id="nav">
  <div class="container-fluid navbar-color" id="header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand navbar-color" href="/">Open Mic World Tour</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= button_to current_user.first_name, user_path(current_user), class: "navbar-color currUser button" %></li>
          <li><%= button_to "Sign Out", sessions_path, method: :delete, class: "navbar-color button" %></li>
        <% else %>
          <li><%= button_to "Sign in", sign_in_path, method: :get, class: "navbar-color button" %></li>
          <li><%= button_to "Sign up", new_user_path, method: :get, class: "navbar-color button" %></li>
        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
